/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800&amp;family=Oswald:wght@200..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

[data-theme='light'] {
   --brand-primary: #c3a604;
   --brand-secondary: #af0808;
   --brand-tertiary: #fff;
   --brand-quaternary: #000;
   --brand-000: #000;
   --odd: rgba(243, 243, 243, 0.8);
   --even: rgba(243, 243, 243, 0.5);
   --tr-hover: rgb(195 166 4 / 83%);
   --theme-toggle: #272e34;
}

[data-theme='dark'] {
   --brand-primary: #4150ff;
   --brand-secondary: #2bff00;
   --brand-tertiary: #afa8a8;
   --brand-quaternary: #fff;
   --brand-000: #000;
   --even: rgba(0, 0, 0, 0.8);
   --odd: rgba(0, 0, 0, 0.5);
   --tr-hover: rgb(65 80 255 / 69%);
   --theme-toggle: #272e34;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

img {
   display: block;
   max-width: 100%;
}

input,
button,
checkbox,
select {
   font: inherit;
}

button {
   cursor: pointer;
}

body {
   line-height: 1.5;
   font-size: 16px;
   font-family: 'Lato', sans-serif;
   background: url(../assets/images/893578.jpg), var(--brand-tertiary);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   max-width: 1920px;
   margin: 0 auto;
}

header, main, footer {
   width: 100vw;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}

main {
   min-height: calc(100vh - 9.375rem);
}

.header-container {
   display: flex;
   justify-content: space-around;
   padding: 1.5625rem; /* 25px */
   background-color: var(--brand-000);
   color: var(--brand-primary);
}

.hero {
   color: var(--brand-secondary);
   font-weight: 700;
}

.label {
   cursor: pointer;
   background-color: var(--theme-toggle);
   border-radius: 3.125rem; /* 50px */
   justify-content: space-between;
   align-items: center;
   width: 2.1875rem; /* 35px */
   height: 1rem; /* 16px */
   padding: 0.1875rem; /* 3px */
   display: flex;
   position: relative;
   transform: scale(1.8);
}

.label .orb {
   background-color: var(--brand-tertiary);
   border-radius: 50%;
   width: 1rem; /* 16px */
   height: 1rem; /* 16px */
   transition-property: transform, background-color;
   transition-duration: 0.2s;
   transition-timing-function: linear;
   position: absolute;
   left: 0;
   transform: translate(0);
}

.checkbox-theme {
   opacity: 0;
   position: absolute;
}

.checkbox-theme:checked + .label .orb {
   transform: translateX(19px);
}

.fa-moon {
   color: #d7dcc2;
   font-size: 0.8125rem; /* 13px */
}

.fa-sun {
   color: #f9ff86;
   font-size: 0.6875rem; /* 11px */
}

.sw-theme {
}

.button-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1.25rem; /* 20px */
   padding: 1.25rem; /* 20px */
   margin: 0 auto;
}

.sw-button {
   background-color: rgba(0, 0, 0, 0.5);
   border: 1px solid var(--brand-quaternary);
   border-bottom-left-radius: 0.625rem; /* 10px */
   border-bottom-right-radius: 0.625rem; /* 10px */
   box-shadow: 4px 4px 4px rgba(42, 41, 41, 0.365);
   color: var(--brand-primary);
   font-weight: 700;
   font-size: 1.25rem; /* 20px */
   transform: scale(0.9);
   padding: 1.5625rem 1.5625rem; /* 25px 25px */
   transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
   width: 12.5rem; /* 200px */
   font-family: 'Oswald', sans-serif;
}

.sw-button:hover {
   transform: scale(1.28);
   border: 1px solid var(--brand-primary);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active {
   background-color: var(--brand-secondary);
}

.logo-container {
   display: flex;
   justify-content: center;
   padding: 1.25rem; /* 20px */
}

.search-input-container {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 1.875rem; /* 30px; */
   padding: 1.25rem; /* 20px */
}

label,
.amount-records,
.total-records-found,
.current-page-info {
   color: var(--brand-primary);
   display: flex;
   align-items: center;
}

.total {
   font-weight: 700;
   color: var(--brand-secondary);
   font-size: 1.5625rem; /* 25px */
}

.search-input-text,
.search-input-id {
   border: 3px solid var(--brand-quaternary);
   border-radius: 0.625rem; /* 10px */
   padding: 0.6875rem 1rem; /* 11px 16px */
   background-color: var(--brand-primary);
   font-weight: 700;
}

table {
   margin: 0 auto;
   border-collapse: collapse;
   width: 80vw;
   max-width: 1920px;
   font-size: 1.125rem; /* 18px */
   table-layout: auto;
}

thead {
   background-color: var(--brand-primary);

   font-family: Oswald, sans-serif;
}

table tbody tr:nth-child(even) td {
   background-color: var(--even);
   color: var(--brand-tertiary);
}

table tbody tr:nth-child(odd) td {
   background-color: var(--odd);
   color: var(--brand-quaternary);
}

table tr:hover {
   background-color: var(--tr-hover);
   border-radius: 0.5rem;
}

table td,
th {
   padding: 0.5rem 0.625rem; /* 8px 10px */
   text-align: center;
   word-wrap: break-word;
   white-space: normal;
   text-wrap: balance;
}

.buttons-td {
   display: flex;
   flex-direction: column;
   font-weight: bold;
   row-gap: 0.625rem; /* 10px */
   align-items: center;
}

.remove-button,
.info-button,
.remove-all-button,
.select-all-button,
.modal-close-btn,
.prevButton,
.nextButton {
   padding: 0.3125rem 0.625rem; /* 5px 10px */
   width: 2.5rem; /* 40px */
   height: 2.5rem; /* 40px */
   background-color: var(--brand-000);
   border: 1px solid var(--brand-primary);
   border-radius: 0.5rem; /* 8px */
   box-shadow: 5px 4px 4px rgba(42, 41, 41, 0.365);
   color: var(--brand-primary);
   transition-property: color, border;
   transition-duration: 0.75s;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.remove-all-button,
.select-all-button {
   padding: 0.625rem 1.25rem; /* 10px 20px */
   font-weight: 700;
   width: 9.375rem; /* 150px */
   height: 3.125rem; /* 50px */
}

.remove-button:hover,
.info-button:hover,
.remove-all-button:hover,
.select-all-button:hover,
.modal-close-btn:hover,
.prevButton:hover,
.nextButton:hover {
   border: 1px solid var(--brand-secondary);
   color: var(--brand-secondary);
   transition-property: color, border;
   transition-duration: 0.5s;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
   width: 1.25rem; /* 20px */
   height: 1.25rem; /* 20px */
}

input[type='checkbox'] {
   accent-color: var(--brand-secondary);
}

.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 1.25rem; /* 20px */
   padding: 1.5625rem; /* 25px */
}

select,
.current-page-input {
   padding: 0.3125rem 0.3125rem; /* 5px 5px */
   background-color: var(--brand-primary);
}

.prevButton,
.nextButton {
   padding: 0.3125rem; /* 5px */
   border-radius: 1.5625rem; /* 25px */
}

.prevButton:disabled,
.nextButton:disabled {
   cursor: not-allowed;
   background-color: rgba(243, 243, 243, 0.8);
}

.table-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
}

.author-info {
   display: flex;
   justify-content: center;
   padding: 1.5625rem; /* 25px */
   color: var(--brand-primary);
   font-size: 1rem; /* 16px */
   background-color: var(--brand-000);
}

.modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 1.25rem; /* 20px */
   border-radius: 0.625rem; /* 10px */
   background-color: rgba(0, 0, 0, 0.8);
   color: var(--brand-tertiary);
   overflow: auto;
   height: 70vh;
}

.modal-close-btn {
   position: absolute;
   top: 0.625rem; /* 10px */
   right: 0.625rem; /* 10px */
   padding: 0.3125rem 0.625rem; /* 5px 10px */
}

.is-hidden {
   display: none;
}

.no-row-message {
   color: var(--brand-secondary);
   font-weight: 700;
   background-color: var(--odd);
}

@media screen and (min-width: 370px) and (max-width: 767px) {
   table {
      font-size: 0.625rem; /* 10px */
   }
   table td,
   th {
      padding: 0.2rem 0.2rem;
   }

   .button-container {
      flex-direction: column;
   }

   .search-input-container {
      flex-direction: column;
   }

   .remove-all-button,
   .select-all-button {
      width: 3rem; /* 48px */
      padding: 0;
   }

   .author-info {
      font-size: 0.875rem; /* 14px */
      padding: 0.625rem; /* 10px */
   }
}
